

<nav>
  <div class="logo">Logo</div>
   <input type="checkbox" id="click">
   <label for="click" class="menu-btn">
     <i class="fas fa-bars"></i>
   </label>
   <ul>
     <!-- <li><a href="" class="active">Home</a></li> -->
     <li><a href="#" routerLink="/home">Home</a></li>
     <li><a href="#" routerLink="/about">About</a></li>
     <li><a href="#" routerLink="/order">Services</a></li>
     <li><a href="#" routerLink="/product">Products</a></li>
     <li><a href="#" routerLink="/contact">Contact</a></li>
   </ul>
</nav>

<div class="container">
  
</div>








<!-- <p><a routerLink="/user">User page</a></p>
<p><a routerLink="/userdetails">User Details page</a></p>
<p><a routerLink="/home">Home</a></p> -->


<div class="container" style="padding: 40px;margin: 15px;">
<router-outlet></router-outlet>
</div>