 <!--Variety----->
 <section id="variety" class="variety pt-4">
    <div class="container">
        <div class="section-title">
            <h2 class="text-center font-weight-bold">Categories</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Quidem tempore quia dolorem ratione quod numquam omnis sequi 
            voluptatum nulla quis.</p>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-img">
                        <img src="PR1.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">SPECIAL CAKES</a>
                        </h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Quidem tempore quia dolorem ratione quod numquam omnis sequi 
            voluptatum nulla quis.quia dolorem ratione quod numquam omnis sequi 
            voluptatum nulla quis.
                        </p>
                        <div class="read-more"><a href="#">
                            <i class="fas fa-arrow-circle-right"></i>
                            Read More
                        </a></div>
                    </div>
                </div>
                
            </div>
            <!---->
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-img">
                        <img src="PR2.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">CUP-CAKES</a>
                        </h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Quidem tempore quia dolorem ratione quod numquam omnis sequi 
            voluptatum nulla quis.quia dolorem ratione quod numquam omnis sequi 
            voluptatum nulla quis.
                        </p>
                        <div class="read-more"><a href="#">
                            <i class="fas fa-arrow-circle-right"></i>
                            Read More
                        </a></div>
                    </div>
                </div>
                
            </div>
            <!---->
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-img">
                        <img src="CE1.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">KID-SPECIAL CAKES</a>
                        </h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Quidem tempore quia dolorem ratione quod numquam omnis sequi 
            voluptatum nulla quis.quia dolorem ratione quod numquam omnis sequi 
            voluptatum nulla quis.
                        </p>
                        <div class="read-more"><a href="#">
                            <i class="fas fa-arrow-circle-right"></i>
                            Read More
                        </a></div>
                    </div>
                </div>
                
            </div>
            <!---->
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-img">
                        <img src="PR4.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">ICE-CAKES</a>
                        </h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Quidem tempore quia dolorem ratione quod numquam omnis sequi 
            voluptatum nulla quis.quia dolorem ratione quod numquam omnis sequi 
            voluptatum nulla quis.
                        </p>
                        <div class="read-more"><a href="#">
                            <i class="fas fa-arrow-circle-right"></i>
                            Read More
                        </a></div>
                    </div>
                </div>
                
            </div>
            <!---->
        </div>
    </div>
</section>
<!---End of Variety-->