
<section id="home">
    <div class="content1">
      <div class="title">
        <h1>try our tasty cakes</h1>
      </div>
      <div class="image"></div>
    </div>
    <div class="content2">
      <div class="image"></div>
      <div class="title">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec lorem porta.</p>
        <button>order</button>
      </div>
    </div>
    <div class="social-container">
      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>
  </section>
  
  <!-- team starts -->
  
  <div class="team-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h2>Our Team</h2>
            <p>Meet Our telented Team Member</p>
          </div>
        </div>
  
        <!--== Single Team Item ==-->
        <div class="col-md-3">
          <div class="single-team">
            <div class="team-img">
              <img src="https://i.postimg.cc/1t2svTt5/1.jpg" alt="" class="img-responsive">
            </div>
            <div class="team-content">
              <div class="team-info">
                <h3>Lisa Ray</h3>
                <p>Web Developer</p>
              </div>
              <p class="team-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quasi, vel.</p>
            </div>
          </div>
        </div>
        <!--== Single Team Item ==-->
        <div class="col-md-3">
          <div class="single-team">
            <div class="team-img">
              <img src="https://i.postimg.cc/qRPHs3bN/2.jpg" alt="" class="img-responsive">
            </div>
            <div class="team-content">
              <div class="team-info">
                <h3>Lisa Ray</h3>
                <p>Web Developer</p>
              </div>
              <p class="team-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quasi, vel.</p>
            </div>
          </div>
        </div>
        <!--== Single Team Item ==-->
        <div class="col-md-3">
          <div class="single-team">
            <div class="team-img">
              <img src="https://i.postimg.cc/K80X9VpS/3.jpg" alt="" class="img-responsive">
            </div>
            <div class="team-content">
              <div class="team-info">
                <h3>Lisa Ray</h3>
                <p>Web Developer</p>
              </div>
              <p class="team-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quasi, vel.</p>
            </div>
          </div>
        </div>
        <!--== Single Team Item ==-->
        <div class="col-md-3">
          <div class="single-team">
            <div class="team-img">
              <img src="https://i.postimg.cc/3JZzRVT4/4.jpg" alt="" class="img-responsive">
            </div>
            <div class="team-content">
              <div class="team-info">
                <h3>Lisa Ray</h3>
                <p>Web Developer</p>
              </div>
              <p class="team-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quasi, vel.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  

  <!-- team ends -->


  <!-- why Us starts -->
<div class="pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="section-head col-sm-12">
          <h4><span>Why Choose</span> Us?</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's<br>standard dummy text ever since the 1500s, when an unknown book.</p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_one"><i class="fa fa-globe"></i></span>
            <h6>Modern Design</h6>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_two"><i class="fa fa-anchor"></i></span>
            <h6>Creative Design</h6>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_three"><i class="fa fa-hourglass-half"></i></span>
            <h6>Your Photoshoping</h6>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_four"><i class="fa fa-database"></i></span>
            <h6>Business Growth</h6>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_five"><i class="fa fa-upload"></i></span>
            <h6>Market Strategy</h6>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_six"><i class="fa fa-camera"></i></span>
            <h6>Retina Ready</h6>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- why us ends -->


<!-- Footer starts -->
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="#">about us</a></li>
          <li><a href="#">our services</a></li>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">affiliate program</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">shipping</a></li>
          <li><a href="#">returns</a></li>
          <li><a href="#">order status</a></li>
          <li><a href="#">payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>online shop</h4>
        <ul>
          <li><a href="#">watch</a></li>
          <li><a href="#">bag</a></li>
          <li><a href="#">shoes</a></li>
          <li><a href="#">dress</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- FOOTER ENDS -->